
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

body{
    background-color: #fffff8;
}

a{
    color: #edf5e1;
    font-family: 'Impact', sans-serif;
    text-decoration: none;
}

a, ul{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.sub-category{
    color: rgb(0, 114, 143);
}

h1{
    background-color: #a50e0e;
    text-align: center;
    color: gold;
}
h2{
    color: ghostwhite ;
}
h3{
    color: green;
}

.header{
    color: gold;
}

div{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 14;
}
#div-1{
    color: black;
    text-align: center;
    width: 100%;
    font-size: 400%;
    font-weight: bolder;
}

#div-2{
    text-align: center;
    text-align: justify;
    width: 100%;
    font-size: 150%;
}

@media only screen and (max-width: 600px){
    body{
        background-color: #fff;
    }
}